<div class="wrapper-quiz-details">
  <div class="quiz-details-container">
    <div class="quiz-detail-container">
      <div class="quiz-detail-title">
        Name
      </div>
      <div class="quiz-detail">
        <%= @quiz.name %>
      </div>
    </div>
    <div class="quiz-detail-container">
      <div class="quiz-detail-title">
        Pin number
      </div>
      <div class="quiz-detail">
        <%= @quiz.pin_number %>
      </div>
    </div>
    <div class="quiz-detail-container">
      <div class="quiz-detail-title">
        Language
      </div>
      <div class="quiz-detail">
        <%= @quiz.language %>
      </div>
    </div>
    <div class="quiz-detail-container">
      <div class="quiz-detail-title">
        Timer
      </div>
      <div class="quiz-detail">
        <%= @quiz.timer %>
      </div>
    </div>
    <div class="quiz-detail-container">
      <div class="quiz-detail-title">
        Time bonus
      </div>
      <div class="quiz-detail">
        <%= @quiz.time_bonus %>
      </div>
    </div>
  </div>
</div>
