<div class="wrapper-quiz-details">
  <div class="quiz-details-container">
    <%= simple_form_for @quiz do |f| %>
     <div class="container">
        <div class="row"></div>
          <div class="col-md-6 col-sm-3">
            <div class="quiz-detail-container">
              <div class="quiz-detail-title">
                Quiz name
              </div>
              <div class="quiz-detail">
                <%= f.input :name, placeholder: @quiz.name, label: false %>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-3">
            <div class="quiz-detail-container">
              <div class="quiz-detail-title">
                Pin number
              </div>
              <div class="quiz-detail">
                <%= f.input :pin_number, placeholder: @quiz.pin_number, disabled: true, label: false %>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-3">
            <div class="quiz-detail-container">
              <div class="quiz-detail-title">
                Language
              </div>
              <div class="quiz-detail">
                <%= f.input :language, as: :radio_buttons, collection: [['french', 'French'], ['english', 'English']], label_method: :second, value_method: :first, label: false %>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-3">
            <div class="quiz-detail-container">
              <div class="quiz-detail-title">
                Timer
              </div>
              <div class="quiz-detail">
                <%= f.input :timer, as: :radio_buttons, collection: [[true, 'Yes'], [false, 'No']], label_method: :second, value_method: :first, label: false %>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-3">
            <div class="quiz-detail-container">
              <div class="quiz-detail-title">
                Time bonus
              </div>
              <div class="quiz-detail">
                <%= f.input :time_bonus, as: :radio_buttons, collection: [[true, 'Yes'], [false, 'No']], label_method: :second, value_method: :first, label: false %>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-3">
            <div class="quiz-detail-container">
              <%= f.submit class: 'quiz-detail-save' %>
<!--                 <div class="quiz-detail-title">
                </div> -->
              <div class="quiz-detail">
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class="wrapper-rounds-edit">
  <div class="container-rounds-edit">
    <% @quiz.rounds.each do |round| %>
    <div class="container-round-edit-details">
      <button class="btn round-edit-details" type="button" data-toggle="collapse" data-target="#round<%=round.id%>" aria-expanded="false" aria-controls="collapseExample">
        Round <%=@quiz.rounds.index(round) + 1%> - <%= Category.find(round.category_id).name %>
      </button>
    </div>
    <div class="container-round-edit-questions" id="round<%=round.id%>">
      <% round.quiz_questions.each do |quiz_question| %>
        <div class="container-round-edit-question">
          <button class="btn round-edit-question-details" type="button" data-toggle="collapse" data-target="#question<%=quiz_question.id%>" aria-expanded="false" aria-controls="collapseExample">
            <%=Question.find(quiz_question.question_id).content%>
          </button>
        </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
