<div class="wrapper-quiz-details">
  <div class="quiz-details-container">
    <%= simple_form_for @quiz do |f| %>
     <div class="container">
        <div class="row"></div>
          <div class="col-md-6 col-sm-3">
            <div class="quiz-detail-container">
              <div class="quiz-detail-title">
                Quiz name
              </div>
              <div class="quiz-detail">
                <%= f.input :name, placeholder: @quiz.name, label: false %>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-3">
            <div class="quiz-detail-container">
              <div class="quiz-detail-title">
                Pin number
              </div>
              <div class="quiz-detail">
                <%= f.input :pin_number, placeholder: @quiz.pin_number, disabled: true, label: false %>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-3">
            <div class="quiz-detail-container">
              <div class="quiz-detail-title">
                Language
              </div>
              <div class="quiz-detail">
                <%= f.input :language, as: :radio_buttons, collection: [['french', 'French'], ['english', 'English']], label_method: :second, value_method: :first, label: false %>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-3">
            <div class="quiz-detail-container">
              <div class="quiz-detail-title">
                Timer
              </div>
              <div class="quiz-detail">
                <%= f.input :timer, as: :radio_buttons, collection: [[true, 'Yes'], [false, 'No']], label_method: :second, value_method: :first, label: false %>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-3">
            <div class="quiz-detail-container">
              <div class="quiz-detail-title">
                Time bonus
              </div>
              <div class="quiz-detail">
                <%= f.input :time_bonus, as: :radio_buttons, collection: [[true, 'Yes'], [false, 'No']], label_method: :second, value_method: :first, label: false %>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-3">
            <div class="quiz-detail-container">
              <%= f.submit' Save quiz parameters', class: 'quiz-detail-save' %>
<!--                 <div class="quiz-detail-title">
                </div> -->
              <div class="quiz-detail">
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class="wrapper-rounds-edit">
  <div class="container-rounds-edit">
    <% @quiz.rounds.each do |round| %>
      <div id="round<%=round.id%>">
        <%= render 'quizzes/edit_partials/round_details_edit', round: round %>
      </div>
      <div class="container-round-edit-questions collapse" id="round-questions<%=round.id%>">
        <% round.quiz_questions.each do |quiz_question| %>
          <%question = Question.find(quiz_question.question_id)%>
          <div id="question<%=question.id%>">
            <%= render 'quizzes/edit_partials/question_details_edit', question: question %>
          </div>
          <div class="container-round-edit-question-answers collapse" id="question-answers<%=question.id%>">
            <% question.answers.each do |answer| %>
              <div id="answer<%=answer.id%>">
                <%= render 'quizzes/edit_partials/answer_details_edit', answer: answer %>
              </div>
            <% end %>
          </div>
        <% end %>
        <div class="container-new-question">
          <div class="btn new-question-modal-button" data-toggle="modal" data-target="#newQuestionModal<%=round.id%>" data-id="<%=round.id%>">
            <i class="fas fa-plus-circle"></i>Add new question
          </div>
          <%= render 'quizzes/edit_partials/new_question_modal', round: round %>
        </div>
      </div>
    <% end %>
    <div class="container-new-round">
      <div class="btn new-round" data-toggle="modal" data-target="#newRoundModal">
        <i class="fas fa-plus-circle"></i>Add new round
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="newRoundModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-new-round" role="document">
    <div class="modal-new-round-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= simple_form_for(@new_round, remote: true) do |f| %>
        <div class="modal-body">
          <%= f.association :category %>
          <%= f.input :no_of_questions %>
          <%= f.input :quiz_id, as: :hidden, input_html: {value: f.object.quiz_id || params[:id]} %>
        </div>
        <div class="modal-footer">
          <%= f.submit class: 'quiz-detail-save' %>
        </div>
      <% end %>
    </div>
  </div>
</div>





<% content_for :after_js do %>
  <script>

    const showRoundEditForm = () => {
      const rounds = document.getElementsByClassName('round-selector');
      const roundEditButtons = document.getElementsByClassName('round-edit-details-edit-button')
      const showRoundForm = () => {
        console.log(event.currentTarget.parentElement);
        console.log(event.currentTarget.parentElement.nextElementSibling);
        var roundEditForm = event.currentTarget.parentElement.nextElementSibling;
        var roundPresentationDiv = event.currentTarget.parentElement;
        roundEditForm.classList.remove("hidden");
        roundPresentationDiv.classList.add("hidden");
      }
      for (var i = 0; i< roundEditButtons.length; i++) {
        roundEditButtons[i].addEventListener("click", showRoundForm);
      }
    }

    const cancelRoundEdit = () => {
      const cancelRoundEditButtons = document.getElementsByClassName('round-edit-details-form-cancel');
      const hideRoundForm = () => {
        console.log(event.currentTarget.parentElement.parentElement.parentElement);
        console.log(event.currentTarget.parentElement.parentElement.parentElement.previousElementSibling);
        var roundEditForm = event.currentTarget.parentElement.parentElement.parentElement;
        var roundPresentationDiv = event.currentTarget.parentElement.parentElement.parentElement.previousElementSibling;
        roundEditForm.classList.add("hidden");
        roundPresentationDiv.classList.remove("hidden");
      }

      for (var i = 0; i< cancelRoundEditButtons.length; i++) {
        cancelRoundEditButtons[i].addEventListener("click", hideRoundForm);
      }
    }

    const showQuestionEditForm = () => {
      const questions = document.getElementsByClassName('question-selector');
      const questionEditButtons = document.getElementsByClassName('round-edit-question-details-edit-button')
      const showQuestionForm = () => {
        console.log(event.currentTarget.parentElement);
        console.log(event.currentTarget.parentElement.nextElementSibling);
        var questionEditForm = event.currentTarget.parentElement.nextElementSibling;
        var questionPresentationDiv = event.currentTarget.parentElement;
        questionEditForm.classList.remove("hidden");
        questionPresentationDiv.classList.add("hidden");
      }
      for (var i = 0; i< questionEditButtons.length; i++) {
        questionEditButtons[i].addEventListener("click", showQuestionForm);
      }
    }

    const cancelQuestionEdit = () => {
      const cancelQuestionEditButtons = document.getElementsByClassName('round-edit-question-details-form-cancel');
      const hideQuestionForm = () => {
        console.log(event.currentTarget.parentElement.parentElement.parentElement);
        console.log(event.currentTarget.parentElement.parentElement.parentElement.previousElementSibling);
        var questionEditForm = event.currentTarget.parentElement.parentElement.parentElement;
        var questionPresentationDiv = event.currentTarget.parentElement.parentElement.parentElement.previousElementSibling;
        questionEditForm.classList.add("hidden");
        questionPresentationDiv.classList.remove("hidden");
      }

      for (var i = 0; i< cancelQuestionEditButtons.length; i++) {
        cancelQuestionEditButtons[i].addEventListener("click", hideQuestionForm);
      }
    }

    const showAnswerEditForm = () => {
      const answers = document.getElementsByClassName('answer-selector');
      const answerEditButtons = document.getElementsByClassName('round-edit-question-answer-details-edit-button')
      const showAnswerForm = () => {
        console.log(event.currentTarget.parentElement);
        console.log(event.currentTarget.parentElement.nextElementSibling);
        var answerEditForm = event.currentTarget.parentElement.nextElementSibling;
        var answerPresentationDiv = event.currentTarget.parentElement;
        answerEditForm.classList.remove("hidden");
        answerPresentationDiv.classList.add("hidden");
      }
      for (var i = 0; i< answerEditButtons.length; i++) {
        answerEditButtons[i].addEventListener("click", showAnswerForm);
      }
    }

    const cancelAnswerEdit = () => {
      const cancelAnswerEditButtons = document.getElementsByClassName('round-edit-question-answer-details-form-cancel');
      const hideAnswerForm = () => {
        console.log(event.currentTarget.parentElement.parentElement.parentElement);
        console.log(event.currentTarget.parentElement.parentElement.parentElement.previousElementSibling);
        var questionEditForm = event.currentTarget.parentElement.parentElement.parentElement;
        var questionPresentationDiv = event.currentTarget.parentElement.parentElement.parentElement.previousElementSibling;
        questionEditForm.classList.add("hidden");
        questionPresentationDiv.classList.remove("hidden");
      }

      for (var i = 0; i< cancelAnswerEditButtons.length; i++) {
        cancelAnswerEditButtons[i].addEventListener("click", hideAnswerForm);
      }
    }

    const closeNewRoundModal = () => {
      const newRoundModal = document.getElementById('newRoundModal');
      const newRoundModalForms = newRoundModal.getElementsByClassName('simple_form');
      if (newRoundModalForms.length == 0) {
        location.reload()
      } else {
        if (window.confirm("You haven't properly saved all of the new questions. Are you sure you want to exit?")) {
          location.reload()}
      }
    }

    const closeNewQuestionModal = () => {
      const newQuestionModal = document.getElementsByClassName('OpenedModal').first;
      const newQuestionForm = newQuestionModal.getElementsByClassName('simple_form');
      if (newQuestionForm.length == 0) {
        location.reload()
      } else {
        if (window.confirm("You haven't saved the new question. Are you sure you want to exit?")) {
          location.reload()}
      }
    }

    const openNewQuestionModal = () => {
      const newQuestionButtons = document.getElementsByClassName('new-question-modal-button');
      const passOpenedIdToQuestionModal = () => {
        console.log(event.currentTarget);
        var newQuestionModalPressedButton = event.currentTarget;
        console.log(newQuestionModalPressedButton);
        var newQuestionModalId = String(newQuestionModalPressedButton.getAttribute("data-target"));
        var newQuestionModalIdTrimmed = newQuestionModalId.substring(1)
        console.log(newQuestionModalIdTrimmed);
        var newQuestionModal = document.getElementById(newQuestionModalIdTrimmed);
        console.log(newQuestionModal);
        newQuestionModal.classList.add('openedNewQuestionModal');

      }
      for (var i = 0; i< newQuestionButtons.length; i++) {
        newQuestionButtons[i].addEventListener("click", passOpenedIdToQuestionModal);
      }
    }

    showRoundEditForm();

    cancelRoundEdit();

    showQuestionEditForm();

    cancelQuestionEdit();

    showAnswerEditForm();

    cancelAnswerEdit();

    openNewQuestionModal();

  </script>
<% end %>

