<div class="wrapper-quiz-details">
  <div class="quiz-details-container">
    <%= simple_form_for @quiz do |f| %>
     <div class="container">
        <div class="row"></div>
          <div class="col-md-6 col-sm-3">
            <div class="quiz-detail-container">
              <div class="quiz-detail-title">
                Quiz name
              </div>
              <div class="quiz-detail">
                <%= f.input :name, placeholder: @quiz.name, label: false %>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-3">
            <div class="quiz-detail-container">
              <div class="quiz-detail-title">
                Pin number
              </div>
              <div class="quiz-detail">
                <%= f.input :pin_number, placeholder: @quiz.pin_number, disabled: true, label: false %>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-3">
            <div class="quiz-detail-container">
              <div class="quiz-detail-title">
                Language
              </div>
              <div class="quiz-detail">
                <%= f.input :language, as: :radio_buttons, collection: [['french', 'French'], ['english', 'English']], label_method: :second, value_method: :first, label: false %>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-3">
            <div class="quiz-detail-container">
              <div class="quiz-detail-title">
                Timer
              </div>
              <div class="quiz-detail">
                <%= f.input :timer, as: :radio_buttons, collection: [[true, 'Yes'], [false, 'No']], label_method: :second, value_method: :first, label: false %>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-3">
            <div class="quiz-detail-container">
              <div class="quiz-detail-title">
                Time bonus
              </div>
              <div class="quiz-detail">
                <%= f.input :time_bonus, as: :radio_buttons, collection: [[true, 'Yes'], [false, 'No']], label_method: :second, value_method: :first, label: false %>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-3">
            <div class="quiz-detail-container">
              <%= f.submit class: 'quiz-detail-save' %>
<!--                 <div class="quiz-detail-title">
                </div> -->
              <div class="quiz-detail">
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class="wrapper-rounds-edit">
  <div class="container-rounds-edit">
    <% @quiz.rounds.each do |round| %>
      <div class="container-round-edit-details round-selector" id="round#{round.id}">
        <button class="btn round-edit-details" type="button" data-toggle="collapse" data-target="#round-questions<%=round.id%>" aria-expanded="false" aria-controls="collapseExample">
          Round <%=@quiz.rounds.index(round) + 1%> - <%= Category.find(round.category_id).name %>
        </button>
        <button class="btn round-edit-details-edit-button" type="button" id="edit-button-round<%=round.id%>">
          Edit round category
        </button>
      </div>

      <%=simple_form_for(round) do |f|%>
      <div class="container-round-edit-details-form hidden" id="edit-round#{round.id}">
        <div class="round-edit-details-form-category">
          <%= f.association :category, label: false %>
        </div>
        <%= f.submit class: 'round-edit-details-form-save'%>
      </div>
      <% end %>

      <div class="container-round-edit-questions collapse" id="round-questions<%=round.id%>">
        <% round.quiz_questions.each do |quiz_question| %>
          <div class="container-round-edit-question" id="quiz_question#{quiz_question.id}">
            <button class="btn round-edit-question-details" type="button" data-toggle="collapse" data-target="#quiz_question-answers<%=quiz_question.id%>" aria-expanded="false" aria-controls="collapseExample">
              <%question = Question.find(quiz_question.question_id)%>
              <%=question.content%>
            </button>
            <button class="btn round-edit-question-details-edit-button" type="button" id="edit-button-question<%=quiz_question.id%>">
              Edit question
            </button>
            <div class="container-round-edit-details" id="edit-round#{round.id}">
              <%=simple_form_for(question) do |f|%>
                <div class="btn round-edit-details">
                  <%= f.input :content, placeholder: question.content, label: false %>
                </div>
                <button class="btn round-edit-details-edit-button" type="button" id="save-edit-button-question<%=quiz_question.id%>">
                  <%= f.submit %>
                </button>
              <% end %>
            </div>
          </div>
          <div class="container-round-edit-question-answers collapse" id="quiz_question-answers<%=quiz_question.id%>">
            <% question.answers.each do |answer| %>
              <div class="container-round-edit-question-answer" id="answer#{answer.id}">
                <button class="btn round-edit-question-answer-details" type="button" data-toggle="collapse" data-target="#answer<%=answer.id%>" aria-expanded="false" aria-controls="collapseExample">
                  <%=answer.content%>
                </button>
                <button class="btn round-edit-question-answer-details-edit-button" type="button" id="edit-button-answer<%=answer.id%>">
                  Edit answer
                </button>
              </div>
              <div class="container-round-edit-details" id="edit-round#{round.id}">
<!--                 <%=simple_form_for(answer) do |f|%>
                  <div class="btn round-edit-details">
                    <%= f.input :content, placeholder: question.content, label: false %>
                  </div>
                  <button class="btn round-edit-details-edit-button" type="button" id="edit-button-round<%=round.id%>">
                    <%= f.input :is_correct, as: :boolean, label: 'True' %>
                  </button>
                <% end %> -->
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<% content_for :after_js do %>
  <script>

    const showRoundEditForm = () => {
      const rounds = document.getElementsByClassName('round-selector');
      const showRoundForm = () => {
        console.log(event.currentTarget);
        var roundEditForm = event.currentTarget.nextAll('.container-round-edit-details-form').first;
        roundEditForm.classList.remove("hidden");
        event.currentTarget.add("hidden");
      }
      for (var i = 0; i< rounds.length; i++) {
        rounds[i].addEventListener("click", showRoundForm);
      }
    }

    showRoundEditForm();

  </script>
<% end %>

