<% unless current_user == @quiz.user %>
<div class="hidden-md hidden-lg">
  <div class="avatar-container">
    <div class="avatar-badge">
      <%= image_tag "#{current_user.avatar}.png" %>
    </div>
  </div>
</div>
<% end %>

<div id="quiz" data-admin="<%= current_user == @quiz.user %>">
  <% if current_user == @quiz.user %>
    <div class="hidden-xs hidden-sm">
      <div class="container text-center welcome">
        <div class="join">
          <div class="join-child">
            <i class="fa fa-hand-o-right" aria-hidden="true"></i>
            <h1>ninjaquiz.ninja</h1>
          </div>
          <div class="join-child">
            <i class="fa fa-th" aria-hidden="true"></i>
            <h1><%= @quiz.pin_number %></h1>
          </div>
        </div>
        <div class="row" id="new_team">
        </div>
      </div>
    </div>
    <div class="hidden-md hidden-lg">
      <div class="container text-center">
        <div class="row">
          <div class="col-xs-12">
            <div class="btn btn-control" id="next"><%= link_to "First round", round_path(@first_round), remote: true %></div>
          </div>
        </div>
      </div>
    </div>
  <% else %>
    <div class="container text-center">
      <h1>Get ready Ninjas!</h1>
    </div>
  <% end %>
</div>

<% content_for :after_js do %>
  <script>

    const onAnswerSelect = () => {
      const answers = document.getElementsByClassName("ninja-input");

      const answerSelect = () => {
        for (var i = 0; i< answers.length; i++) {
          answers[i].classList.add("unselected_answer", "disabled_item");
          event.currentTarget.classList.remove("unselected_answer");
          event.currentTarget.classList.add("selected_answer");
        }

        event.currentTarget.classList.add("selected_answer");
        console.log("coucou");
      };

      for (var i = 0; i< answers.length; i++) {
        answers[i].addEventListener("click", answerSelect);
      }
    }

    App['quiz_room_<%= @quiz.id %>'] = App.cable.subscriptions.create(
      { channel: 'QuizRoomChannel', quiz_room_id: <%= @quiz.id %> },
      { received: (data) => {
        console.log("event");
        quiz = document.getElementById("quiz");
        if (quiz.dataset.admin == "true") {
          if (data.event == "new_team") {
            new_team = document.getElementById("new_team");
            new_team.innerHTML = data.admin_partial;
          }
          else {
            quiz.innerHTML = data.admin_partial;
          }
        }
        else if (data.player_partial) {
          quiz.innerHTML = data.player_partial;
          onAnswerSelect();
          }
        }
      });

    App['player_quiz_room_<%= current_user.id %>'] = App.cable.subscriptions.create(
      { channel: 'PlayerQuizRoomChannel', player_id: <%= current_user.id %> },
      { received: (data) => {
        console.log("event player");
        quiz = document.getElementById("quiz");
        if (quiz.dataset.admin == "false") {
          if (data.event == "question_answer") {
          quiz.innerHTML = data.player_partial;
          var el = document.querySelector(".svg");
          var elWrapperClone = el.innerHTML;
          document.getElementById("button").addEventListener("click", function() {
          el.innerHTML = elWrapperClone;
          });
          }
          else if (data.event == "player_results") {
            quiz.innerHTML = data.player_partial;
          }
        }
      }
      });
  </script>
<% end %>
