<div class="container-round-edit-question-answer-details answer-selector">
  <div class="round-edit-question-answer-details">
    <% if answer.is_correct? %>
      <%=answer.content%> (correct answer)
    <% else %>
      <%=answer.content%>
    <% end %>
  </div>
  <button class="btn round-edit-question-answer-details-edit-button" type="button" id="edit-button-answer<%=answer.id%>">
    Edit answer
  </button>
</div>
<div class="wrapper-round-edit-question-answer-details-form hidden">
  <%=simple_form_for(answer) do |f| %>
    <div class="container-round-edit-question-answer-details-form" id="edit-answer#{answer.id}">
      <div class="round-edit-question-answer-details-form-content">
        <%= f.input :content, placeholder: answer.content, label: false %>
      </div>
      <div class="round-edit-question-answer-details-form-content-is-correct">
        <%= f.input :is_correct, as: :radio_buttons, collection: [[true, 'Correct'], [false, 'Wrong']], label_method: :second, value_method: :first, label: false %>
      </div>
      <%= f.submit 'Save', class: 'round-edit-question-answer-details-form-save'%>
      <div class="btn round-edit-question-answer-details-form-cancel">Cancel</div>
    </div>
  <% end %>
</div>
