<div class="hidden-xs hidden-sm">
  <div class="wrapper-display-admin">
    <div class="question-display-admin">
      <div><%=  raw quiz_question.question.content %></div>
    </div>
    <div class="answer-center-admin">
      <div class="answer-container-admin">
      <% answers.each do |answer| %>
        <div class="answer-display-admin">
          <%= raw answer.content %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="hidden-md hidden-lg">
  <div class="container text-center">
    <div class="row">
      <div class="col-xs-12">
        <div class="question-displayed"><p><%= raw quiz_question.question.content %></p></div>
      </div>
      <div class="col-xs-12">
        <div class="question-displayed"><p>Answered by <%= number_of_player_answers %> players</p></div>
      </div>
      <div class="col-xs-12">
        <%= link_to "Show correct answer", show_correct_answer_quiz_question_path(quiz_question), remote: true, class: 'btn btn-control-next', id: 'correct answer' %></div>
      </div>
    </div>
  </div>
</div>

