<div class="hidden-xs hidden-sm wrapper">
    <div class="container text-center" id='container_question'>
      <h2><strong>QUESTION</strong></h2>
      <h3 class="question-hidden question-displayed">
        <div><%=  quiz_question.question.content %></div>
      </h3>
      <div class="row">
        <% answers.each do |answer| %>
          <div class="col-xs-12 col-sm-6">
            <% if answer.is_correct %>
                <div class="answer-hidden answer-displayed correct-answer">
              <% else %>
                <div class="answer-hidden answer-displayed">
              <% end %>
              <h4><%= answer.content %></h4>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
  <div class="hidden-md hidden-lg">
    <div class="container text-center">
      <div class="row">
        <div class="col-xs-12">
          <div class="question-displayed"><p><%=  quiz_question.question.content %></p></div>
        </div>
        <div class="col-xs-12">
          <div class="btn btn-control" id="show question"><%= link_to "Question", show_question_quiz_question_path(quiz_question), remote: true %></div>
        </div>
        <div class="col-xs-12">
          <div class="btn btn-control" id="show answers"><%= link_to "Show answers", show_answers_quiz_question_path(quiz_question), remote: true %></div>
        </div>
        <div class="col-xs-12">
          <div class="btn btn-control" id="correct answer"><%= link_to "Show correct answer", show_correct_answer_quiz_question_path(quiz_question), remote: true %></div>
        </div>
        <div class="col-xs-12">
          <div class="btn btn-control" id="next">
            <% if quiz_question.round.question_count == quiz_question.round.no_of_questions %>
              <%= link_to "Finish round", round_path(quiz_question.round), remote: true %>
            <% else %>
              <%= link_to "Next Question", quiz_question_path(next_quiz_question), remote: true %>
            <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
