<div class="col-sm-3">
  <div class="card-player mother" id="counter">
    <% if nb_players < 2 %>
      <h2><%= nb_players %> ninja playing!</h2>
    <% else %>
      <h2><%= nb_players %> ninjas playing!</h2>
    <% end %>
  </div>
</div>
<% quiz.users.reverse.each do |user| %>
  <% unless user.name == "Barman" %>
    <div class="col-sm-3">
      <div class="card-player mother">
        <div class="child">
          <h3><%= user.name %></h3>
        </div>
        <% if user.avatar == "" || user.avatar.nil? %>
          <div class="child">
            <% user.avatar = ["Ninja1", "Ninja2", "Ninja3", "Ninja4", "Ninja5", "Ninja6", "Ninja7", "Ninja8"].sample %>
            <% user.save %>
            <%= image_tag "#{user.avatar}.png", class: "avatar-big" %>
          </div>
        <% else %>
          <div class="child">
            <%= image_tag "#{user.avatar}.png", class: "avatar-big" %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
