<div class="hidden-xs hidden-sm">
  <div class="wrapper-display-admin">
    <div class="question-display-admin">
      <div><%=  raw quiz_question.question.content %></div>
    </div>
    <div class="answer-center-admin">
      <div class="answer-container-admin">
      <% answers.shuffle.each do |answer| %>
        <div class="answer-display-admin">
          <%= answer.content %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="hidden-md hidden-lg">
  <div class="container text-center">
    <div class="row">
      <div class="col-xs-12">
        <div class="question-displayed"><p><%= raw quiz_question.question.content %></p></div>
      </div>
      <div class="col-xs-12">
        <div class="btn btn-control" id="show question"><%= link_to "Question", show_question_quiz_question_path(quiz_question), remote: true %></div>
      </div>
      <div class="col-xs-12">
        <div class="btn btn-control" id="show answers"><%= link_to "Show answers", show_answers_quiz_question_path(quiz_question), remote: true %></div>
      </div>
      <div class="col-xs-12">
        <div class="btn btn-control" id="correct answer"><%= link_to "Show correct answer", show_correct_answer_quiz_question_path(quiz_question), remote: true %></div>
      </div>
      <div class="col-xs-12">
        <div class="btn btn-control" id="next">
          <% if quiz_question.round.quiz_questions.last == quiz_question %>
            <% if quiz_question.round.quiz.rounds.last == quiz_question.round %>
              <%= link_to "Finish game", show_results_quiz_path(quiz_question.round.quiz), remote: true %>
            <% else %>
              <%= link_to "Finish round", show_round_results_round_path(quiz_question.round), remote: true %>
            <% end %>
          <% else %>
            <%= link_to "Next Question", quiz_question_path(next_quiz_question), remote: true %>
          <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

