<div class="hidden-xs hidden-sm">
  <div class="wrapper-display-admin">
    <div class="question-display-admin">
      <div><%=  raw quiz_question.question.content %></div>
    </div>
    <div class="answer-center-admin">
      <div class="answer-container-admin">
        <% answers.each do |answer| %>
          <% if answer.is_correct %>
            <div class="answer-hidden answer-display-admin correct-displayed">
              <%= answer.content %>
            </div>
          <% else %>
            <div class="answer-hidden answer-display-admin">
              <%= answer.content %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="hidden-md hidden-lg">
  <div class="container text-center">
    <div class="row">
      <div class="col-xs-12">
        <div class="question-displayed"><p><%= raw quiz_question.question.content %></p></div>
      </div>
      <% answers.each do |answer| %>
        <div class="col-xs-12">
          <div class="question-displayed">
            <p><%=  answer.content %></p>
            <% QuizAnswer.where(quiz_question_id: quiz_question.id, answer_id: answer.id).each do |quiz_answer|
              %>
              <p><%=quiz_answer.user.name %></p>
            <% end %>
          </div>
        </div>
      <% end %>
      <div class="col-xs-12">
        <div class="btn btn-control-next" id="next">
          <% if quiz_question.round.quiz_questions.last == quiz_question %>
            <% if quiz_question.round.quiz.rounds.last == quiz_question.round %>
              <%= link_to "Finish game", show_results_quiz_path(quiz_question.round.quiz), remote: true %>
            <% else %>
              <%= link_to "Finish round", show_round_results_round_path(quiz_question.round), remote: true %>
            <% end %>
          <% else %>
            <%= link_to "Next Question", quiz_question_path(next_quiz_question), remote: true %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

