<div class="hidden-xs hidden-sm wrapper">
    <div class="container text-center" id="container-question">
      <div class="question-full-display">
        QUESTION
      </div>
    </div>
  </div>
  <div class="hidden-md hidden-lg">
    <div class="container text-center">
      <div class="row">
        <div class="col-xs-12">
          <div class="question-display-admin-mobile"><p><%= raw quiz_question.question.content %></p></div>
        </div>
        <div class="col-xs-12">
          <%= link_to "Show question", show_question_quiz_question_path(quiz_question), remote: true, class: 'btn btn-control-next', id:'show question' %></div>
        </div>
        <div class="col-xs-12">
          <% if quiz_question.round.quiz_questions.last == quiz_question %>
            <% if quiz_question.round.quiz.rounds.last == quiz_question.round %>
              <%= link_to "Finish game", show_results_quiz_path(quiz_question.round.quiz), remote: true, class: 'btn btn-control-next', id:'next' %>
              <% else %>
                <%= link_to "Finish round", show_round_results_round_path(quiz_question.round), remote: true, class: 'btn btn-control-next', id:'next' %>
              <% end %>
            <% else %>
              <%= link_to "Skip question", quiz_question_path(next_quiz_question), remote: true, class: 'btn btn-control-skip', id:'next' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
