<div class="container admin-views-container">
  <div class="row about-row">
    <div class="col-md-9">
      <div><%= image_tag "quizlist.png",style:"height: 100%; width: 100%" %></div>
    </div>
    <div class="col-md-3">
      <h3>Create your profile</h3>
      <p>Register to NinjaQuiz to be able to create and play quizzes.</p>
    </div>
  </div>
  <div class="row about-row">
    <div class="col-md-3">
      <h3>Manage your quizzes</h3>
      <p>You can see all the quizzes you created, edit them or create new quizzes.</p>
    </div>
    <div class="col-md-9">
      <div><%= image_tag "quizlist.png",style:"height: 100%; width: 100%" %></div>
    </div>
  </div>
  <div class="row about-row">
    <div class="col-md-9">
      <div><%= image_tag "newquiz.png", style:"height: 100%; width: 100%" %></div>
    </div>
    <div class="col-md-3">
      <h3>Create a new quiz</h3>
      <p>You can create a new quiz and decide if you want a limited amount of time for the players to answer, a point bonus for answering fast or the language of the instructions provided.</p>
    </div>
  </div>
  <div class="row about-row">
    <div class="col-md-3">
      <h3>Edit a quiz</h3>
      <p>You can change any of your quizzes' parameters, create new rounds and new questions.</p>
    </div>
    <div class="col-md-9">
      <div><%= image_tag "edit.png", style:"height: 100%; width: 100%" %></div>
    </div>
  </div>
  <div class="row about-row">
    <div class="col-md-9">
      <div><%= image_tag "newround.png", style:"height: 100%; width: 100%" %></div>
    </div>
    <div class="col-md-3">
      <h3>Add round</h3>
      <p>You can add a new round and select its categories and number of questions to be included.</p>
    </div>
  </div>
  <div class="row about-row">
    <div class="col-md-3">
      <h3>Add question</h3>
      <p>You can add a new question either from picking it randomly from an external database or creating your own question and answers.</p>
    </div>
    <div class="col-md-9">
      <div><%= image_tag "newquestions.png", style:"height: 100%; width: 100%" %></div>
    </div>
  </div>
</div>

<div class="container admin-views-container">
  <div class="row about-row">
    <div class="col-md-3">
      <h3>Start a new game</h3>
      <p>The admin selects the quiz to be played and launches it both on the main screen and its phone.</p>
      <p>Players can join just by entering the game pin and selecting their name and avatar.</p>
    </div>
    <div class="col-md-9">
      <p>Central screen</p>
      <div><%= image_tag "gameinfo.png",style:"height: 100%; width: 100%" %></div>
    </div>
  </div>
  <div class="row about-row">
    <div class="col-md-6">
      <p>Player's screen</p>
      <div><%= image_tag "playerlogin.png",style:"height: 50%; width: 50%" %></div>
    </div>
    <div class="col-md-6">
      <p>Admin's screen</p>
      <div><%= image_tag "gamestart.png",style:"height: 50%; width: 50%" %></div>
    </div>
  </div>
  <div class="row about-row">
    <div class="col-md-9">
      <p>Central screen</p>
      <div><%= image_tag "answerdisplayed.png",style:"height: 100%; width: 100%" %></div>
    </div>
    <div class="col-md-3">
      <h3>Play the game</h3>
      <p>The admin uses his phone to manage the game. He sees the questions to be asked, displays them on the screen and allows the players to answer when needed. He even has information on the number of player who answered, what they answered and when it comes to scoring: who the fastest, slowest and worst player is.</p>
      <p>Players follow the game on the central screen and answer on their phone when requested.</p>
    </div>
  </div>
  <div class="row about-row">
    <div class="col-md-6">
      <p>Player's screen</p>
      <div><%= image_tag "playerchoices.png",style:"height: 50%; width: 50%" %></div>
    </div>
    <div class="col-md-6">
      <p>Admin's screen</p>
      <div><%= image_tag "giveanswers.png",style:"height: 50%; width: 50%" %></div>
    </div>
  </div>
  <div class="row about-row">
    <div class="col-md-12">
      <p>Central screen</p>
      <div><%= image_tag "correctanswerdisplayed.png",style:"height: 100%; width: 100%" %></div>
    </div>
  </div>
  <div class="row about-row">
    <div class="col-md-6">
      <p>Player's screen</p>
      <div><%= image_tag "right.png",style:"height: 50%; width: 50%" %></div>
    </div>
    <div class="col-md-6">
      <p>Admin's screen</p>
      <div><%= image_tag "givecorrectanswer.png",style:"height: 50%; width: 50%" %></div>
    </div>
  </div>
</div>
